<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "the right place" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "the right place" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%  @user ||= current_user %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div>
      <% client = Contentful::Client.new(
          space: '97khnaaw3ccw',
          access_token: '67a5095081ab1d0124d9e93a576e16f1e392e43b52c0375724548c8da610e474',
          dynamic_entries: :auto
          ) 
          @logo = client.asset('5yoa2WEcM0CIMcMme04Y8m').image_url %>
          <img id="imglogo" width="20%" height="20%" src="<%= @logo %>"/>
          
          </div>
        
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
